<h2>User log in</h2>

<div ng-include="NOTIFICATION_ALERT_PATH"></div>

<form class="form-horizontal" name="loginForm" role="form" novalidate>

	<validated-form-group id="email" name="email" model="user.email" label="Email:">
		<input type="email" placeholder="Enter email" required>
		<errors>
			<error on="email">A valid email is required</error>
		</errors>
	</validated-form-group>

	<validated-form-group id="password" name="password" model="user.password" label="Password:">
		<input type="password" placeholder="Enter password" required>
		<errors>
			<error on="required">A password is required</error>
		</errors>
	</validated-form-group>

	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-primary btn-lg" ng-click="login()">
				Log in</button>
			<button type="button" class="btn btn-default btn-lg" ng-click="register()">
				Register user</button>
		</div>
	</div>
</form>