<div class="vspace">
	<ng-switch on="new_user">
		<h2 ng-switch-when="true">Registering new user</h2>
		<h2 ng-switch-when="false">Modifying existing user</h2>
	</ng-switch>
</div>

<div ng-include="NOTIFICATION_ALERT_PATH"></div>

<form name="userForm" class="form-horizontal" role="form" novalidate>

	<div form-group="10" label="Name:" validate>
		<input type="text" id="name" placeholder="Enter user name" ng-model="user.name" required
			   parser-names>
		<ng-include src="VALIDATION_MESSAGES.FIELD_REQUIRED"></ng-include>
	</div>

	<div form-group="10" label="Last Name:" validate>
		<input type="text" id="last_name" placeholder="Enter user last name" ng-model="user.last_name" required
			   parser-names>
		<ng-include src="VALIDATION_MESSAGES.FIELD_REQUIRED"></ng-include>
	</div>

	<div form-group="10" label="Email:" validate>
		<input type="email" id="email" placeholder="Enter email" ng-model="user.email" required>
		<ng-include src="VALIDATION_MESSAGES.FIELD_REQUIRED"></ng-include>
		<ng-include src="VALIDATION_MESSAGES.EMAIL"></ng-include>
	</div>

	<div form-group="10" label="Profile:" validate>
		<select id="profile" ng-model="user.profile_id" required placeholder-option="Select a profile"
			ng-options="profile.id as profile.name for profile in profiles">
		</select>
		<ng-include src="VALIDATION_MESSAGES.FIELD_REQUIRED"></ng-include>
	</div>

	<div form-group="10" label="Holding:" validate>
		<select id="holding" ng-model="user.holding_id" required placeholder-option="Select a holding"
			ng-options="holding.id as holding.name for holding in holdings">
		</select>
		<ng-include src="VALIDATION_MESSAGES.FIELD_REQUIRED"></ng-include>
	</div>

	<a class="col-sm-offset-2 btn btn-link" role="button" ng-init="$parent.changing_password=false"
	   ng-if="!(new_user || changing_password)" ng-click="$parent.changing_password=true">Change password</a>

	<div ng-if="new_user || changing_password">

		<div ng-if="!new_user" form-group="10" label="Previous password:" validate>
			<input type="password" id="previous_password" placeholder="Enter previous password"
				   ng-model="user.previous_password" ng-required="!new_user && changing_password">
			<ng-include src="VALIDATION_MESSAGES.FIELD_REQUIRED"></ng-include>
		</div>

		<div form-group="10" label="Password:" validate>
			<input type="password" id="password" placeholder="Enter {{ new_user ? '': 'new ' }}password"
				   ng-model="user.password" ng-required="new_user || changing_password">
			<ng-include src="VALIDATION_MESSAGES.FIELD_REQUIRED"></ng-include>
		</div>

		<div form-group="10" label="Confirm password:" validate>
			<input type="password" id="confirm_password" placeholder="Confirm password"
				   ng-model="user.confirm_password" ng-required="new_user || changing_password"
				   match-with="user.password">
			<ng-include src="VALIDATION_MESSAGES.FIELD_REQUIRED"></ng-include>
			<div invalidation="match">Passwords must match</div>
		</div>

	</div>

	<div class="row"></div>

	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-primary" ng-click="save()">Save</button>
			<button type="button" class="btn btn-danger" ng-click="delete()"
					ng-if="deletable">Delete</button>
			<button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
		</div>
	</div>
</form>
