<ng-switch on="new_user">
	<h2 ng-switch-when="true">Registering new user</h2>
	<h2 ng-switch-when="false">Modifying existing user</h2>
</ng-switch>

<div ng-include="NOTIFICATION_ALERT_PATH"></div>

<form name="userForm" class="form-horizontal" role="form" novalidate>

	<validated-form-group id="name" name="name" model="user.name" label="Name:">
		<input type="text" placeholder="Enter user name" required>
		<errors>
			<error on="required">This field is required</error>
		</errors>
	</validated-form-group>

	<validated-form-group id="last_name" name="last_name" model="user.last_name" label="Last Name:">
		<input type="text" placeholder="Enter user last name" required>
		<errors>
			<error on="required">This field is required</error>
		</errors>
	</validated-form-group>

	<validated-form-group id="email" name="email" model="user.email" label="Email:">
		<input type="email" placeholder="Enter email" required>
		<errors>
			<error on="email">A valid email is required</error>
		</errors>
	</validated-form-group>

	<validated-form-group id="profile" name="profile" model="user.profile_id" label="Profile:">
		<select class="form-control" required placeholder="Select a profile"
			ng-options="profile.id as profile.name for profile in profiles"></select>
		<errors>
			<error on="required">This field is required</error>
		</errors>
	</validated-form-group>

	<validated-form-group id="holding" name="holding" model="user.holding_id" label="Holding:">
		<select class="form-control" required
			ng-options="holding.id as holding.name for holding in holdings"></select>
		<errors>
			<error on="required">This field is required</error>
		</errors>
	</validated-form-group>

	<a class="col-sm-offset-2 btn btn-link" href="#" role="button"
			ng-hide="new_user || changing_password" ng-click="changing_password=true">Change password</a>
	<div ng-show="new_user || changing_password">

		<validated-form-group id="previous_password" name="previous_password" model="user.previous_password"
							  label="Previous password:" ng-hide="new_user">
			<input type="password" placeholder="Enter previous password"
				   ng-required="!new_user && changing_password">
		</validated-form-group>

		<validated-form-group id="password" name="password" model="user.password" label="Password:">
			<input type="password" placeholder="Enter password"
				   ng-required="new_user || changing_password">
		</validated-form-group>

		<validated-form-group id="confirm_password" name="confirm_password" model="user.confirm_password"
							  label="Confirm password:">
			<input type="password" placeholder="Confirm password"
				   ng-required="new_user || changing_password" match-with="user.password">
			<errors>
				<error on="match">Passwords must match</error>
			</errors>
		</validated-form-group>

	</div>

	<div class="form-group col-sm-12"></div>

	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-primary" ng-click="save()">Save</button>
			<button type="button" class="btn btn-danger" ng-click="delete()"
					ng-if="deletable">Delete</button>
			<button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
		</div>
	</div>
</form>